.vscode/**
.vscode-test/**
src/**
.agents/**
.codex/**
out/test/**
test.py
RELEASE.md
*.vsix
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
package-lock.json
**/*.map
**/*.ts
**/.vscode-test.*
